/*Global Styling*/
.highlight{
	margin: 1rem 0;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
}
pre{
	background-color: #062429 !important;
	padding: 1rem 0.5rem;
	border-right: 1px solid rgba(255,255,255,0.1);
}
blockquote > p {
    margin: 0 !important;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    font-family: 'Fraunces', serif;
    color: #4d5252;
    background-image: linear-gradient(45deg, #fff, #ebebeb);
    padding: 1rem;
    border-left: 5px solid #17a2b8;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
/*Utilities*/
.bg-lighter{
	background-color: #ebebeb;
}
.ff-heading{
	font-family: 'Fraunces', serif;	
}
.font-weight-semibold{
	font-weight: 600;
}
.border-left-info-4{
	border-left: 4px solid var(--info);
}


/*Sidebar*/
#sidebar-wrapper{
	height: 100vh;
	overflow: auto;
}
#sidebar-toggler{
	display: none;
}
#social-icons > a{
	margin-right: 6px;
}
#social-icons > a:last-Child{
	margin-right: 0;
}
#main-sidebar{
	padding-top: 45px;
	padding-bottom: 20px;
}
#main-sidebar .logo{
	width: 120px;
}
#main-sidebar .list-group .list-group-item-action{
	color: var(--light);
}
#main-sidebar .list-group .list-group-item-action.active{
	color: #0b505b;
	background-color: var(--light);
	font-weight: bold;
	border-color: rgba(0,0,0,0.125);
	padding-left: 20px !important;
	border-radius: 8px;
}
#main-sidebar .list-group .list-group-item{
	background-color: var(--info);
	padding: 10px;
	font-size: 0.9rem;
	transition: 0.2s;
}
#main-sidebar .list-group .list-group-item:hover{
	color: #0b505b;
	background-color: var(--light);
	font-weight: bold;
	padding-left: 20px;
	border-radius: 8px;
}

/* Content */
#content-wrapper{
	height: 100vh;
	overflow: auto;
}
/*Page Post Content*/
#page-body h2,
#page-body h3,
#page-body h4,
#page-body h5{
	padding-top: 1.5rem;
	font-family: 'Fraunces', serif;
	font-weight: 600;
}
/*Blog Post Content*/
#blog-single-page .single-post-title{
	font-size: 3.5rem;
	line-height: 1.2;
}
#blog-single-page .single-post-body h2,
#blog-single-page .single-post-body h3,
#blog-single-page .single-post-body h4,
#blog-single-page .single-post-body h5{
	padding-top: 1.5rem;
	font-weight: 600;
	font-family: 'Fraunces', serif;
}
#blog-single-page img{
	display: block;
	max-width: 100%;
	margin: auto;
	margin: 2rem 0;
	border-radius: 5px;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.25); 
}
#blog-list-page .list-post-card{
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	transform: translateY(0px);
	transition: 0.25s;
}
#blog-list-page .list-post-card:hover{
	box-shadow: 0 .5rem .5rem rgba(0,0,0,.05);
	transform: translateY(-5px);
}
#blog-list-page .pagination{
	border-radius: 0px;
	flex-wrap: wrap;
	justify-content: center;
}
#blog-list-page .pagination .page-link{
	color: var(--info);
}
#blog-list-page .pagination .page-item.active .page-link{
	color: #fff !important;
	background-color: var(--info);
	border-color: var(--info);
}
#blog-list-page .pagination .page-item.disabled .page-link {
	color: #a7a7a7 !important;
}




/* Mobile Devices */
@media (max-width: 991.98px){
	/*Sidebar*/
	#sidebar-wrapper{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1500;
		animation: slideIn 0.25s;
	}
	#sidebar-toggler{
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2000;
	}
	#main-sidebar .logo{
		width: 100px;
	}
	/*Content*/
	#content-wrapper{
		height: initial;
		overflow: initial;
	}
	#blog-single-page .single-post-title{
		font-size: 2rem;
	}
}

/* Animation Classes */
@keyframes slideIn{
	from{
		opacity: 0;
		transform: translateX(-100px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
