/*Utilities*/
.bg-lighter{
	background-color: #ebebeb;
}
.ff-heading{
	font-family: 'Fraunces', serif;	
}
.font-weight-semibold{
	font-weight: 600;
}
.border-left-info-4{
	border-left: 4px solid var(--info);
}


/*Sidebar*/
#sidebar-wrapper{
	height: 100vh;
	overflow: auto;
}
#sidebar-toggler{
	display: none;
}
#social-icons > a{
	margin-right: 6px;
}
#social-icons > a:last-Child{
	margin-right: 0;
}
#main-sidebar{
	padding-top: 45px;
	padding-bottom: 20px;
}
#main-sidebar .logo{
	width: 120px;
}
#main-sidebar .list-group .list-group-item-action{
	color: var(--light);
}
#main-sidebar .list-group .list-group-item-action.active{
	color: #0b505b;
	background-color: var(--light);
	font-weight: bold;
	border-color: rgba(0,0,0,0.125);
	padding-left: 20px !important;
	border-radius: 8px;
}
#main-sidebar .list-group .list-group-item{
	background-color: var(--info);
	padding: 10px;
	font-size: 0.9rem;
	transition: 0.2s;
}
#main-sidebar .list-group .list-group-item:hover{
	color: #0b505b;
	background-color: var(--light);
	font-weight: bold;
	padding-left: 20px;
	border-radius: 8px;
}

/* Content */
#content-wrapper{
	height: 100vh;
	overflow: auto;
}
#content-wrapper .single-post-title{
	font-size: 3.5rem;
    line-height: 1.2;
}
#content-wrapper .list-post-card{
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	transform: translateY(0px);
	transition: 0.25s;
}
#content-wrapper .list-post-card:hover{
	box-shadow: 0 .5rem .5rem rgba(0,0,0,.05);
	transform: translateY(-5px);
}
#content-wrapper .pagination{
	border-radius: 0px;
    flex-wrap: wrap;
    justify-content: center;
}
#content-wrapper .pagination .page-link{
	color: var(--info);
}
#content-wrapper .pagination .page-item.active .page-link{
	color: #fff !important;
	background-color: var(--info);
	border-color: var(--info);
}
#content-wrapper .pagination .page-item.disabled .page-link {
    color: #a7a7a7 !important;
}




/* Mobile Devices */
@media (max-width: 991.98px){
	/*Sidebar*/
	#sidebar-wrapper{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1500;
		animation: slideIn 0.25s;
	}
	#sidebar-toggler{
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2000;
	}
	#main-sidebar .logo{
		width: 100px;
	}
	/*Content*/
	#content-wrapper{
		height: initial;
		overflow: initial;
	}
	#content-wrapper .single-post-title{
		font-size: 2rem;
	}
}

/* Animation Classes */
@keyframes slideIn{
	from{
		opacity: 0;
		transform: translateX(-100px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
