{{define "main"}}
	<div class="p-md-5 py-5 px-4" id="blog-list-page">
		<h1 class="ff-heading font-weight-bold text-info border-bottom border-info mb-3 pb-3">{{.Title}}</h1>
		<!-- Posts Row -->
		<div class="row pt-4">
			{{ $paginator := .Paginate .Pages 4 }}
			{{ range $paginator.Pages }}
				<div class="col-lg-6 mb-3">
					<div class="card border-0 rounded-lg list-post-card">
						<div class="card-body">
							<!-- Title -->
							<h5><a href="{{.Permalink}}" class="ff-heading font-weight-semibold text-info text-capitalize text-decoration-none">{{.Title}}</a></h5>
							<p class="small text-secondary border-bottom border-top py-2 mt-4">
								<!-- Authors -->
								{{if .Params.Authors}}<span class="mr-2"><i class="fas fa-user-circle"></i> {{ delimit .Params.Authors ", " }}</span>{{end}}
								<!-- Date -->
								{{if .Date}}<span class="mr-2"><i class="fas fa-calendar-alt"></i> {{.Date.Format "Jan 2, 2006"}}</span>{{end}}
								<!-- Categories -->
								<span><i class="fas fa-tags mr-1"></i>
								{{$arrayLength := len .Params.Categories}}
								{{ range $elem_index, $elem_val := .Params.Categories }}
								   {{ if eq $elem_index (sub $arrayLength 1) }}
									   <a href="{{ `categories/` | absURL }}{{ $elem_val | urlize }}" class="text-secondary">{{$elem_val}}</a>
								   {{else}}
									   <a href="{{ `categories/` | absURL }}{{ $elem_val | urlize }}" class="text-secondary">{{$elem_val}}</a>, 
								   {{end}}
								{{ end }}
								</span>
							</p>
							<!-- Description -->
							{{with .Params.Description}}<p class="small text-secondary">{{. | truncate 200}}</p>{{end}}
							<a href="{{.Permalink}}" class="btn btn-info btn-sm">Read More <i class="fas fa-chevron-circle-right"></i></a>
						</div>
					</div>
					<!-- .card -->
				</div>
				<!-- .col-lg-6 .mb-3 -->
			{{end}}
		</div>
		<!-- Posts Row -->

		<div class="mt-5">
			{{ template "_internal/pagination.html" . }}
		</div>

	</div>	<!-- .p-5 -->
{{end}}