<div id="main-sidebar" class="px-2 pt-5 pb-3">
	<h4 class="text-white text-center font-weight-bold mb-3">{{.Site.Title}}</h4>
	<p class="text-center">
		<img width="150" class="rounded-pill shadow" src="{{`images/avinash-square.jpg` | absURL}}" alt="Avinash Murmu" style="border: 4px solid #1ed0ec;">
	</p>
	<p class="text-center text-light small">Hi! my name is {{.Site.Title}} and I'm a  software engineer. Welcome to my portfolio.</p>
	<p class="text-center" id="social-icons">
		{{with .Site.Params.Facebook}}
		<a href="{{.}}" class="btn btn-outline-light rounded-lg"><i class="fab fa-facebook"></i></a>
		{{end}}
		{{with .Site.Params.Twitter}}
		<a href="{{.}}" class="btn btn-outline-light rounded-lg"><i class="fab fa-twitter"></i></a>
		{{end}}
		{{with .Site.Params.Linkedin}}
		<a href="{{.}}" class="btn btn-outline-light rounded-lg"><i class="fab fa-linkedin"></i></a>
		{{end}}
		{{with .Site.Params.Github}}
		<a href="{{.}}" class="btn btn-outline-light rounded-lg"><i class="fab fa-github"></i></a>
		{{end}}
		{{with .Site.Params.Codepen}}
		<a href="{{.}}" class="btn btn-outline-light rounded-lg"><i class="fab fa-codepen"></i></a>
		{{end}}
	</p>
	<!-- Main Navbar -->
	<div class="list-group list-group-flush mt-5">
		{{$currentPage := .}}
		{{range .Site.Menus.main}}
			<a href="{{.URL}}" class="list-group-item list-group-item-action {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)}}active{{end}}">{{with .Pre}}<i class="{{.}}"></i>{{end}} {{.Name}}</a>
		{{end}}
	</div>


	<p class="text-center mt-3"><button class="btn btn-dark btn-block rounded-pill">Hire Me<i class="fas fa-paper-plane ml-2"></i></button></p>
</div>
